<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="main-content">            
            {{>header}}
            <article class="widget">
                <form action="" class="weather-location">
                    <input type="text" class="input-field" name="" id="" placeholder="Városnév"/>
                    <button class="search-button">Keresés</button>
                </form>
                <div class="icon-and-info">
                    <div class="weather-icon">
                        <i></i>
                    </div>
                    <div class="weather-info">
                        <div class="weather-temp">
                            <span></span>
                        </div>
                        <div class="weather-condition">                            
                        </div>
                    </div>
                </div>
                <div class="place"></div>
                <div class="date"></div>
            </article>
        </div>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>